html{
  height: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
  background: url("../../../public/images/background.png")  no-repeat ,linear-gradient(90deg, #112949 0%, #000000 100%, #0E233F 100%);
   height: 100%;
   background-size: cover;
  position: relative;
}
.mainWrapper{
  padding-bottom: 60px;
  @media(min-width:992px){
    margin-left: 72px;
    padding-bottom: 0px;

  }
}
.dropdown{
  &-menu{
    &>*{

      border-bottom: 1px solid #E2E2E2;
  
    }
  }
 
  &__btn{
    transition: 0.15s ease-in-out;
    border-radius: 8px;
    padding: 4px;
    max-width: 170px;

    &:hover, &:focus {
      background-color: rgba($color: #fafafa, $alpha: .3);
    }
  }
}
